@import "../../../styles/importer";
.input-cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .input-label{
        display: flex;
        font-weight: var(--fw-regular);
        font-size: var(--fs-1);
        line-height: var(--fs-4);
        color: var(--black);
        margin-left: 4px;
    }
    .inp{
        display: flex;
        border-radius: 6px;
        border: 1px solid var(--secondary-border);

        &.text{
        }
    }
    .inp:focus{
        border-radius: 6px;
        border: 1px solid var(--secondary-border);
    }
}