@import "../../../styles/importer";
.input-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .input-label {
        display: flex;
        font-weight: var(--fw-regular);
        font-size: var(--fs-1);
        line-height: var(--fs-4);
        color: var(--black);
        margin-left: 4px;
    }
    .inp {
        display: flex;
        font-family: var(--font-poppins) !important;
        border-radius: 6px !important;
        border: 1px solid var(--secondary-border) !important;
        font-weight: 400 !important;
        font-size: var(--fs-0) !important;
        line-height: var(--fs-3) !important;

        &.text {
        }
    }
    .inp:focus {
        border-radius: 6px;
        border: 1px solid var(--secondary-border);
    }
}
