/* This file contains every color used in the application.*/

:root {
        --black: #000;
        --white: #fff;
        --gray: #939393;
        --gray-10: #b7b7b7;
        --blue: #7bb1f0;
        --primary: #ff7f50;

        --primary-gradiant: linear-gradient(90.09deg, rgba(248, 56, 0, 0.8) 0.03%, rgba(248, 100, 10, 0.8) 99.88%);
        --secondary-border: #00000014;
}
