/* This file contains every color used in the application.*/

:root {
        --black: #000;
        --white: #fff;
        --gray: #939393;
        --light-gray: #f4f4f4;
        --gray-10: #b7b7b7;
        --blue: #7bb1f0;
        --primary: #FB6848;
        --primary-10: #FFFCFB;


        --primary-gradient: linear-gradient(133.34deg, #FD371F -34.27%, #FF844B 99.35%);;
        --secondary-border: #00000014;
        --nav-shadow: 4px 4px 12px 0px #BBBBBB40;

        --status-blue: linear-gradient(92.43deg, rgba(123, 177, 240, 0.5) 11.76%, rgba(123, 177, 240, 0.5) 87.55%);

        
}
