/**
  This file contains variables related to the typography, like:
  font-sizes, font-families, line-heights, text-decorations etc.
*/

:root {
    --fs-1: 12px;
    --fs-2: 14px; 
    --fs-3: 16px;
    --fs-4: 18px;
    --fs-5: 20px;
    --fs-6: 24px;
    --fs-7: 28px;
    --fs-8: 2;
    --fs-9: 3;
  
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold:600;
    --fw-bold: 700;
    --fw-black:900;
  }