@import "../../../../styles/importer";

.mtrc-cont {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(254, 225, 64, 0.1) 2.41%, rgba(250, 112, 154, 0.1) 100%);
    padding: 14px 24px;
    gap: 3px;
    color: var(--black) !important;
    border-radius: 10px !important;
    width: 25%;
    max-width: 270px;
    min-width: 240px;
    align-items: unset !important;
    cursor: pointer;
    &:hover {
        background: linear-gradient(90deg, rgba(254, 225, 64, 0.2) 2.41%, rgba(250, 112, 154, 0.2) 100%);
        box-shadow: 0px 1px 2px 0px #00000040;
    }

    &.active {
        background: linear-gradient(90deg, rgba(254, 225, 64, 0.2) 2.41%, rgba(250, 112, 154, 0.2) 100%);
        box-shadow: 0px 1px 2px 0px #00000040;
    }
    .mtrc-link {
        text-decoration: none;
        color: var(--black);
        .mtrc-header {
            display: flex;
            gap: 4px;
            align-items: center;
            .mtrc-icon {
                width: 24px;
                height: 24px;
                color: var(--primary);
            }
            .mtrc-label {
                font-weight: var(--fw-regular);
                font-size: var(--fs-2);
                line-height: var(--fs-5);
            }
        }
        .mtrc-count {
            font-weight: var(--fw-medium);
            font-size: var(--fs-10);
            line-height: 60px;
            margin-left: 12px;
        }
    }
}
