@import "../../../styles/importer";

.btn {
    border-radius: 20px !important;
    justify-content: center !important;
    font-weight: var(--fw-medium) !important;
    font-size: var(--fs-1) !important;
    line-height: var(--fs-6) !important;

    &.primary {
        background: var(--primary-gradient);
        color: var(--white);
    }

    &.secondary {
        border: 1px solid var(--secondary-border);
        color: var(--gray);
    }
}
