@import "../../../styles/importer";

.dip-cont {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .dip-image {
    height: 300px;
    width: 300px;
    flex-shrink: 0;

    @include background-properties($dev-in-progress, 400px);
  }

  .dip-texts {
    .dip-title {
      color: var(--gray);
      font-size: var(--fs-7);
    }

    .dip-message {
      font-size: var(--fs-4);
      color: var(--black);
      white-space: pre-line;
    }
  }
}
